# --- Python Ignore Rules ---
__pycache__/
*.py[cod]
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.pytest_cache/
.dmypy.json
.mypy_cache/
.pyre/
.pytype/
.ropeproject
.pdm.toml
.pdm-python
.pdm-build/
.pypirc
.ruff_cache/
.Python
build/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- VS Code ---
.vscode/

# --- subtree: auto1111 ignore rules ---
auto1111/models/
auto1111/outputs/
auto1111/venv/
auto1111/embeddings/
auto1111/cache/
auto1111/tmp/
auto1111/extensions/
auto1111/test/stdout.txt
auto1111/test/stderr.txt
auto1111/.coverage*
auto1111/node_modules/
auto1111/repositories/
auto1111/ESRGAN/
auto1111/SwinIR/
auto1111/*.ckpt
auto1111/*.safetensors
auto1111/*.pth
auto1111/config.json
auto1111/ui-config.json
auto1111/log
auto1111/webui.settings.bat
auto1111/styles.csv
auto1111/styles.csv.bak
auto1111/webui-user.bat
auto1111/webui-user.sh
auto1111/params.txt
auto1111/interrogate/
auto1111/user.css
auto1111/.idea
auto1111/notification.mp3
auto1111/textual_inversion/
auto1111/GFPGANv1.3.pth
auto1111/gfpgan/weights/*.pth
auto1111/config_states/
auto1111/package-lock.json
auto1111/trace.json
auto1111/sysinfo-*.json
